// ESQUEMA DE COLORES
// PRIMER ESQUEMA DE COLOR
$white:#FFF;
$isabelline: #ECECEC;
$light-gray: #D1D1D1;

// SEGUNDO ESQUEMA DE COLOR
$smoky-black: #0C0910;
$graite-gray: #646266;
$qick-silver: #A6A5A8;

// font-family
// OLD STANDARD
$old-tt: 'Old Standard TT', serif;
// font-weight
$old-tt-regular: 400;
$old-tt-bold:  700;

// RALEWAY
//font-family
$raleway: 'Raleway', sans-serif;
//font-weight
$regular: 400;
$bold: 700;

//font-size
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

$min-lp: 992px;