.container{
    width: 100%;
    display: grid;
}

.hero-section{
    width: 100%;

    &__main-content-title{
        margin-top: 2em;
        padding-top: .5em;
        font-family: $old-tt;
        font-weight: $bold;
        text-align: center;
    }

    &__main-content-text {
        margin: 2em;
        font-family: $old-tt;
        text-align: left;
    }
}

.hero-section__main-content-text {
    font-family: $old-tt;
    text-align: center;
}

.hero-section__featured-image{
    box-sizing: border-box;
    padding-top: 1em;
    height: 100%;
}

.hero-section__button {
    width: 100%;
    text-align: center;
}

/* //Tamaño pequeño
@media (min-width: 576px) {
    .container {
        width: 570px;
    }
}

//Tamaño mediano
@media (min-width: 768px) {
    .container {
        width: 760px;
    }
} */